@import "tailwindcss";

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  }
}

a:hover {
  @apply underline;
}

@font-face {
  font-family: "IBM Plex";
  src: url("../fonts/ibm_plex/IBM-Plex-Mono/fonts/complete/otf/IBMPlexMono-Regular.otf")
    format("opentype");
}

*:focus-visible {
  @apply outline-none ring-2 ring-[#a6adc8] ring-offset-4 rounded-lg;
}

::selection {
  color: #fab387;
  background-color: #171717;
}

::-moz-selection {
  color: #fab387;
  background-color: #171717;
}

body {
  font-family: "IBM Plex", monospace, sans-serif;
}

.subheading-anchor {
  color: currentColor;
  text-decoration: none;
}
