@import "tailwindcss";

@layer base {
  :root {
    --color-text: #1e1e2e;
    --color-subtext: #45475a;
    --color-base: #f5e0dc;
    --color-mantle: #fab387;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-text: #cdd6f4;
      --color-subtext: #a6adc8;
      --color-base: #1e1e2e;
      --color-mantle: #181825;
    }
  }

  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  }
}

a:hover {
  @apply underline;
}

@font-face {
  font-family: "IBM Plex";
  src: url("../fonts/ibm_plex/IBM-Plex-Mono/fonts/complete/otf/IBMPlexMono-Regular.otf")
    format("opentype");
}

*:focus-visible {
  @apply outline-none ring-2 ring-[#a6adc8] ring-offset-4 rounded-lg;
}

::selection {
  color: var(--color-accent);
  background-color: #171717;
}

::-moz-selection {
  color: var(--color-accent);
  background-color: #171717;
}

body {
  font-family: "IBM Plex", monospace, sans-serif;
}

.subheading-anchor {
  color: currentColor;
  text-decoration: none;
}
