@import "tailwindcss";

@theme {
  --color-text: #cdd6f4;
  --color-subtext: #a6adc8;
  --color-overlay: #6c7086;
  --color-base: #1e1e2e;
  --color-mantle: #181825;
  --color-accent: #fab387;
  --color-crust: #11111b;
  --color-mauve: #cba6f7;
  --color-blue: #89b4fa;
  --color-teal: #94e2d5;
  --color-green: #a6e3a1;
  --color-sapphire: #74c7ec;
  --color-yellow: #f9e2af;
  --color-error: #f38ba8;
  --color-warning: #fab387;

  --font-family-display: var(--font-calsans);
  --font-family-plex: "IBM Plex", ui-monospace, SFMono-Regular, "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer components {
  .prose code::before,
  .prose code::after {
    content: "";
  }
  
  .prose-quoteless blockquote p:first-of-type::before,
  .prose-quoteless blockquote p:first-of-type::after {
    content: none;
  }
}

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  }
}

@font-face {
  font-family: "IBM Plex";
  src: url("../fonts/ibm_plex/IBM-Plex-Mono/fonts/complete/otf/IBMPlexMono-Regular.otf")
    format("opentype");
}

*:focus-visible {
  @apply outline-none ring-2 ring-[#a6adc8] ring-offset-4 rounded-lg;
}

body {
  font-family: "IBM Plex", monospace, sans-serif;
}

.subheading-anchor {
  color: currentColor;
  text-decoration: none;
}
