@import "tailwindcss";

[data-rehype-pretty-code-figure] {
  @apply bg-[#1e1e2e] rounded-2xl my-4;
}
[data-rehype-pretty-code-figure] code {
  @apply break-words text-sm bg-[#11111b];
  counter-reset: line;
  box-decoration-break: clone;
}
[data-rehype-pretty-code-figure] [data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: #526777;
}
[data-rehype-pretty-code-figure] .line--highlighted {
  @apply bg-zinc-300 rounded-lg;
}
[data-rehype-pretty-code-figure] .line-highlighted span {
  @apply relative;
}
[data-rehype-pretty-code-figure] .word--highlighted {
  @apply rounded-lg bg-zinc-300 text-black p-1;
}
[data-rehype-pretty-code-title] {
  @apply mt-4 py-2 px-4 text-sm;
}